* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-list-wrapper {
  height: 100dvh;
  overflow-y: auto;
}

.user-detail-wrapper {
  padding: 1rem;
  height: 100dvh;

  & .user-detail-box {
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 100%;
    overflow: hidden;
    position: relative;

    & .user-detail-bg {
      background: url("https://i.pinimg.com/736x/c6/91/c3/c691c3fbf05f82328d015de026f3ae68.jpg");
      height: 250px;
      width: 100%;
      background-size: cover;
    }
    & .avatar-box {
      border: 2px solid #ccc;
      border-radius: 50%;
      padding: 5px;
      width: 150px;
      height: 150px;
      margin-top: -100px;
      background-color: #fff;

      & .user-avatar {
        width: 100%;
        height: 100%;
      }
    }
  }
}


.card-footer{
  background-color: #ccc;
  text-align: center;
  padding: 2px 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}